$gray: #d8d8d8
$sidebar-width: 300px

@mixin placeholder
  &::-webkit-input-placeholder
    @content
  &:-moz-placeholder
    @content
  &::-moz-placeholder
    @content
  &:-ms-input-placeholder
    @content

*
  box-sizing: border-box
  user-select: none

html, body, #root
  height: 100%

body
  margin: 0
  font-family: 'Alata', sans-serif
  font-size: 15px
  color: #3d3d3d
  background: #6161611f

ul
  list-style-type: none
  padding: 0
  margin: 0

h1,h2,h3,h4,h5,h6
  margin: 0

::-webkit-scrollbar
  width: .7em
  height: 1em

::-webkit-scrollbar-track
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)

::-webkit-scrollbar-thumb
  background-color: darkgrey
  outline: 1px solid slategrey

.sidebar
  background: $gray
  width: $sidebar-width
  position: fixed
  height: 100%
  padding: 12px
  overflow-y: auto

  h2
    margin-bottom: 12px

.item
  background: white
  padding: 5px 10px
  margin: 6px 0
  border-radius: 4px
  display: flex
  align-items: center
  span
    flex-grow: 1
    flex-shrink: 0
  .group-tags
    margin-left: 4px
    display: flex
    white-space: nowrap
    overflow-x: hidden
    li
      display: inline-block
      margin-left: 4px
      font-size: 10px
      color: white
      border-radius: 8px
      padding: 0 4px
      min-height: 14px

#content
  height: 100%
  overflow-x: auto
  overflow-y: auto
  margin-left: $sidebar-width
  .groups
    white-space: nowrap
    display: flex
    padding: 28px
    .add-new
      border: 1px solid #9a9a9a
      color: #3d3d3d !important
      border-radius: 6px
      padding: 6px 10px
      cursor: pointer
    .group
      width: 220px
      margin-right: 28px
      flex-shrink: 0
      &:last-child
        padding-right: 28px
      .group-header
        color: white
        margin-bottom: 8px
        padding: 8px 12px
        border-radius: 6px
        input
          +placeholder
            color: white
            font-weight: 500
            font-style: italic
        h3
          margin-bottom: 8px
        .title
          font-size: 17px
          color: white
        .subtitle
          color: white
      .drag-here
        border: 1px solid #9a9a9a
        border-radius: 6px
        padding: 6px 10px
        &.over
          border-style: dotted
      .subgroup
        background: $gray
        margin: 8px 0
        padding: 8px 12px 12px 12px
        border-radius: 6px
        border: 1px dotted #d8d8d8
        input
          +placeholder
            font-weight: 500
        &:first-child
          margin-top: 0
        &.over
          border: 1px dotted black
        div
          display: flex
          justify-content: space-between
          align-items: center
          >span
            font-size: 12px
          .triangle
            padding: 4px
            cursor: pointer
            >div
              width: 0
              height: 0
              border-style: solid
              border-width: 0 6px 8px 6px
              border-color: transparent transparent #2e2e2e transparent

.search-input
  background: white
  display: flex
  padding: 5px 8px
  margin-bottom: 16px
  border-radius: 4px
  .icon
    width: 16px
    margin-right: 8px
  input
    border: none
    outline: none

.checkbox
  display: flex
  align-items: center
  position: relative
  padding-left: 32px
  margin-bottom: 12px
  margin-bottom: 16px
  cursor: pointer
  user-select: none
  input
    position: absolute
    opacity: 0
    cursor: pointer
  span
    font-size: 14px
  .checkmark
    position: absolute
    top: 0
    left: 0
    height: 18px
    width: 18px
    border: 2px solid gray
    &:after
      content: ''
      position: absolute
      display: none
      left: 4px
      top: 1px
      width: 4px
      height: 9px
      border: solid #333333
      border-width: 0 2px 2px 0
      transform: rotate(45deg)

  input:checked ~ .checkmark:after
    display: block

input.transparent
  font-size: 15px
  font-weight: 600
  border: none
  background: transparent
  outline: none
  width: 100%
  display: block

.toast-notification
  width: auto !important
  left: auto !important
  right: 10px !important

.item
  .close
    display: none
    padding: 0 3px
    cursor: pointer
  &:hover .close
    display: inline-block
